* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    margin: 0 auto;
    width: 900px;
}

.calculator {
    background-color: rgb(252, 195, 7);
    border: black 5px solid;
    border-radius: 10px;
    min-height: 650px;
    margin: 100px 150px;
}

.screen {
    background-color: palegreen;
    border: black 5px solid;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    font-weight: 800;
    height: 100px;
    margin: 70px auto;
    text-align: right;
    width: 500px;
}

.buttons {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 80px 80px 80px;
    margin: 50px 100px;
}

button {
    background-color: palegreen;
    border: black 5px solid;
    border-radius: 10px;
    font-family: 'Plaster', sans-serif;
    font-size: 30px;
}

#operation,
#input {
    height: 40px;
    margin: 5px 15px;
}

